*{
    padding: 0;
    margin: 0;
}


h2{
    font-size: 20px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
}

 header {
    background-color: rgb(75, 14, 94);
    color: white;
 }
 nav{
    color: white;
 }



